# Env
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
venv/

# Logs
*.log
logs/

# OS
.DS_Store

# Local data
/data/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
